<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GDPlyr</title>
    <link rel="stylesheet" href="./static/common_styles.css">
    <style>
        body{
            width: 100%;
        }
        .form-container{
            display:grid;
            place-items: center;
        }
        .float-icons{
            position: absolute;
        }
    </style>
    <script>
        function submitConfiguration() {
            let formdata = new FormData(document.querySelector('.form-container'))
            fetch("")
            .then()
            .then()
            .catch()
        }
    </script>
</head>
<body>
    <!-- 
        Things needed for the configuration to work correctly:
        1. Database Name
        2. Admin Username and Password

     -->
     <form class="form-container">
        <h1>Welcome to GDPlyr</h1>
        <h3>Lets get you started</h3>
        <label for=""></label><br>
        <input type="text" name="" id="adminname" class="light" placeholder="Admin Name">
        <label for=""></label><br>
        <input type="password" name="" id="adminpassword" class="light" placeholder="Admin Password">
        <label for=""></label><br>
        <input type="password" name="" id="confirmpassword" class="light" placeholder="Confirm Password">
        <label for=""></label><br>
        <input type="text" name="" id="dbname" class="light" placeholder="Database Name">
        <label for=""></label><br>
        <input type="text" name="" id="dbhost" class="light" placeholder="Database Host">
        <label for=""></label><br>
        <input type="text" name="" id="dbroot" class="light" placeholder="Database root">
        <label for=""></label><br>
        <input type="password" name="" id="dbpassword" class="light" placeholder="Database Password">
        
        <button onclick="submitConfiguration()">Submit Configuration</button>
     </form>
     <div class="contains-images" >

     </div>
</body>
</html>