<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GDPlyr</title>
    <link rel="stylesheet" href="./static/common_styles.css">
    <style>
        body{
            width: 100%;
        }
        .form-container{
            display:grid;
            place-items: center;
        }
    </style>
</head>
<body>
    <!-- 
        Things needed for the configuration to work correctly:
        1. Database Name
        2. Admin Username and Password

     -->
     <div class="form-container">
        <h1>Welcome to GDPlyr</h1>
        <h3>Lets get you started</h3>
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="Username">
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="Password">
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="Database Name">
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="">
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="">
        <label for=""></label><br>
        <input type="text" name="" id="" class="light" placeholder="">
     </div>
</body>
</html>