<!DOCTYPE html>
<html lang="en">
<head>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
    <body>
        <span class="bar">
            
        </span>
        <h1>Some error occured</h1>
        <p><%=error%></p>
    </body>
</html>