<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/common_styles.css">
    <link rel="stylesheet" href="./static/login.css">
    <script src="./static/lightSwitch.js"></script>
    <%if(iscaptcha == "1"){%>
        <script src="./static/reCaptchaCreator.js"></script>
    <%}%>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>
    <link rel="shortcut icon" href="<%=favicon%>" type="image/x-icon">
    <title>Login Admin</title>
    <script>
        function login(){
            const error = document.getElementById("error")
            const username = document.getElementById("username").value
            const password = document.getElementById("password").value
            const captcha = document.getElementById("captcha") ? document.getElementById("captcha").value : ""
            fetch("../api/login",{//change later
                headers:{
                    "Content-Type":"application/json"
                },
                method:'POST',
                body:JSON.stringify({username,password,captcha}),
            }).then(Response => Response.json())
            .then(data=>{
                if(data.success){
                    if(data.loggedIn){
                        window.location.replace('./dashboard')
                    }
                    else{
                        error.innerHTML = "Could not login. Check your password or username and try again"
                        error.style.display = "flex"
                        setTimeout(()=>{
                            error.style.display = "none"
                        },3500)
                    }
                }
            })
            .catch(error=>{
                error.innerHTML = "Could not login. Check your internet connection and try again" + error
                error.style.display = "flex"
                setTimeout(()=>{
                    error.style.display = "none"
                },3500)
            })
        }
    </script>
</head>
<body style="display: flex;width: 100vw;">
    <div class="side-illstr"></div>
    <div class="contains-inputs">
        <div class="light-dark-mode light-control" onclick="ToggleMode()">
            <svg width="25px" class="light-mode" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#a)" fill="#000000">
                <path d="M12 0a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1ZM4.929 3.515a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 0 0 1.414-1.414L4.93 3.515ZM1 11a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2H1ZM18 12a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2h-4a1 1 0 0 1-1-1ZM17.657 16.243a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 1 0 1.414-1.414l-2.828-2.828ZM7.757 17.657a1 1 0 1 0-1.414-1.414L3.515 19.07a1 1 0 1 0 1.414 1.414l2.828-2.828ZM20.485 4.929a1 1 0 0 0-1.414-1.414l-2.828 2.828a1 1 0 1 0 1.414 1.414l2.828-2.828ZM13 19a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0v-4ZM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10Z"/>
                </g><defs><clipPath id="a"><path fill="#ffffff" d="M0 0h24v24H0z"/>
                </clipPath></defs>
            </svg>
            <svg fill="#ffffff" class="dark-mode" width="25px" height="25px" viewBox="0 0 35 35" data-name="Layer 2" id="Layer_2" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.44,34.68a18.22,18.22,0,0,1-2.94-.24,18.18,18.18,0,0,1-15-20.86A18.06,18.06,0,0,1,9.59.63,2.42,2.42,0,0,1,12.2.79a2.39,2.39,0,0,1,1,2.41L11.9,3.1l1.23.22A15.66,15.66,0,0,0,23.34,21h0a15.82,15.82,0,0,0,8.47.53A2.44,2.44,0,0,1,34.47,25,18.18,18.18,0,0,1,18.44,34.68ZM10.67,2.89a15.67,15.67,0,0,0-5,22.77A15.66,15.66,0,0,0,32.18,24a18.49,18.49,0,0,1-9.65-.64A18.18,18.18,0,0,1,10.67,2.89Z"/>
            </svg>
        </div>
        <div>
            <span class="bar">
                <img src="<%=logo%>" alt="" width="25" height="30">
                <p style="font-weight: 500;margin-left: 10px;">GDplyr</p>
            </span>
            <h2 style="font-size: 2rem;">Welcome Back <br>Admin 🖐</h2>
            <p style="font-weight:500;">Kindly login to continue</p>
            <p id="error" style="color: red;font-weight:500;"></p>
            <input class="light" type="text" id="username" placeholder="username" required>
            <br>
            <input class="light" type="password" id="password" placeholder="password" required>
            <br>
            <%if(iscaptcha == "1"){%>
            <input class="light" type="text" id="captcha" placeholder="captcha" required>
            <br>
            <span class="container-for-captcha"></span>
            <%}%>
            <button onclick="login()" style="width: 100%;">Login</button>
        </div>
    </div>
</body>
</html>