<style>
    nav{
        height: 100%;
        border: hidden;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: fixed;
        width: 20vw;
        top: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform-origin:bottom left;
    }
    .nav-list{
        padding: 10px;
        border: hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 90%;
    }
    .nav-list:hover{
        background-color: rgb(209, 209, 209);
    }
    .nav-list>p{
        text-decoration: none;
        color: rgb(46, 46, 46);
        font-weight: 500;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo-img{
        margin: 10px;
    }
    .on-small,.open-close{
        display: none;
    }
    .open-close,.close-open{
        display: none;
    }
    @media screen and (max-width:800px) {
        .nav-list>p,.logo-name{
            display: none;
        }
        .nav-list{
            padding-left: 2px;
            padding-right: 2px;
            border-radius: 5px;
            margin-left: 2px;
        }
        nav{
            height: max-content;
            width: max-content;
            border-radius: 30px;
            margin-top: 60px;
        }
        .on-small{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(0, 57, 132);
            color: white;
            font-size: xx-large;
            width: 100%;
            border: hidden;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .on-large{
            display: none;
        }
        .open-close,.close-open{
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: max-content;
            border: hidden;
            border-radius: 50%;
            padding: 10px;
            position: fixed;
            bottom: 80px;
        }
        .open-close{
            transform: rotate(270deg);
        }
        .close-open{
            transform: rotate(90deg);
        }
        .open-close>svg,.close-open>svg{
            margin: 0;
        }
        .opening-nav{
            animation: navOpen 0.2s linear forwards;
        }
        .closing-nav{
            animation: navClose 0.2s linear forwards;
        }
    }
    @keyframes navOpen {
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(100%);
            display: block;
        }
    }
    @keyframes navClose {
        from{
            transform: scaleY(100%);
        }
        to{
            transform: scaleY(0);
            display: none;
        }
    }
</style>
<script>
    let navopen = true
    function toggleNav(){
        let openClose = document.querySelector("#openclose")
        let nav = document.querySelector("nav")
        if(navopen){
            nav.classList.remove("opening-nav")
            nav.classList.add("closing-nav")
            openClose.classList.remove("open-close")
            openClose.classList.add("close-open")
            navopen = !navopen
        }
        else{
            nav.classList.remove("closing-nav")
            nav.classList.add("opening-nav")
            openClose.classList.remove("close-open")
            openClose.classList.add("open-close")
            navopen = !navopen
        }
    }
</script>
<nav class="glassy">
    <div>
        <span class="bar">
            <img src="<%=logo%>" class="logo-img" alt="" width="40" height="50">
            <h3 class="logo-name">GDplyr</h3>
        </span>
    </div>
    <ul>
        <a href="../dashboard">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.918 10.0005H7.082C6.66587 9.99708 6.26541 10.1591 5.96873 10.4509C5.67204 10.7427 5.50343 11.1404 5.5 11.5565V17.4455C5.5077 18.3117 6.21584 19.0078 7.082 19.0005H9.918C10.3341 19.004 10.7346 18.842 11.0313 18.5502C11.328 18.2584 11.4966 17.8607 11.5 17.4445V11.5565C11.4966 11.1404 11.328 10.7427 11.0313 10.4509C10.7346 10.1591 10.3341 9.99708 9.918 10.0005Z" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.918 4.0006H7.082C6.23326 3.97706 5.52559 4.64492 5.5 5.4936V6.5076C5.52559 7.35629 6.23326 8.02415 7.082 8.0006H9.918C10.7667 8.02415 11.4744 7.35629 11.5 6.5076V5.4936C11.4744 4.64492 10.7667 3.97706 9.918 4.0006Z" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.082 13.0007H17.917C18.3333 13.0044 18.734 12.8425 19.0309 12.5507C19.3278 12.2588 19.4966 11.861 19.5 11.4447V5.55666C19.4966 5.14054 19.328 4.74282 19.0313 4.45101C18.7346 4.1592 18.3341 3.9972 17.918 4.00066H15.082C14.6659 3.9972 14.2654 4.1592 13.9687 4.45101C13.672 4.74282 13.5034 5.14054 13.5 5.55666V11.4447C13.5034 11.8608 13.672 12.2585 13.9687 12.5503C14.2654 12.8421 14.6659 13.0041 15.082 13.0007Z" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.082 19.0006H17.917C18.7661 19.0247 19.4744 18.3567 19.5 17.5076V16.4936C19.4744 15.6449 18.7667 14.9771 17.918 15.0006H15.082C14.2333 14.9771 13.5256 15.6449 13.5 16.4936V17.5066C13.525 18.3557 14.2329 19.0241 15.082 19.0006Z" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p>Dashboard</p>
            </li>
        </a>
        <a href="../links/all">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 15H12C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3H8C4.68629 3 2 5.68629 2 9C2 10.5367 2.57771 11.9385 3.52779 13M16 21C19.3137 21 22 18.3137 22 15C22 13.4633 21.4223 12.0615 20.4722 11M12 21C8.68629 21 6 18.3137 6 15C6 11.6863 8.68629 9 12 9H14" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <p>Links</p>
            </li>
        </a>
        <a href="../servers">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 3.75C10.4142 3.75 10.75 3.41421 10.75 3C10.75 2.58579 10.4142 2.25 10 2.25V3.75ZM14 2.25C13.5858 2.25 13.25 2.58579 13.25 3C13.25 3.41421 13.5858 3.75 14 3.75V2.25ZM13 21.75C13.4142 21.75 13.75 21.4142 13.75 21C13.75 20.5858 13.4142 20.25 13 20.25V21.75ZM3.17157 19.8284L3.7019 19.2981H3.7019L3.17157 19.8284ZM20.8284 4.17157L20.2981 4.7019V4.7019L20.8284 4.17157ZM21.25 13C21.25 13.4142 21.5858 13.75 22 13.75C22.4142 13.75 22.75 13.4142 22.75 13H21.25ZM14 12.75C14.4142 12.75 14.75 12.4142 14.75 12C14.75 11.5858 14.4142 11.25 14 11.25V12.75ZM18 11.25C17.5858 11.25 17.25 11.5858 17.25 12C17.25 12.4142 17.5858 12.75 18 12.75V11.25ZM2.75 13V12H1.25V13H2.75ZM2.75 12V11H1.25V12H2.75ZM13 20.25H10V21.75H13V20.25ZM21.25 11V12H22.75V11H21.25ZM1.25 13C1.25 14.8644 1.24841 16.3382 1.40313 17.489C1.56076 18.6614 1.89288 19.6104 2.64124 20.3588L3.7019 19.2981C3.27869 18.8749 3.02502 18.2952 2.88976 17.2892C2.75159 16.2615 2.75 14.9068 2.75 13H1.25ZM10 20.25C8.09318 20.25 6.73851 20.2484 5.71085 20.1102C4.70476 19.975 4.12511 19.7213 3.7019 19.2981L2.64124 20.3588C3.38961 21.1071 4.33855 21.4392 5.51098 21.5969C6.66182 21.7516 8.13558 21.75 10 21.75V20.25ZM14 3.75C15.9068 3.75 17.2615 3.75159 18.2892 3.88976C19.2952 4.02502 19.8749 4.27869 20.2981 4.7019L21.3588 3.64124C20.6104 2.89288 19.6614 2.56076 18.489 2.40313C17.3382 2.24841 15.8644 2.25 14 2.25V3.75ZM22.75 11C22.75 9.13558 22.7516 7.66182 22.5969 6.51098C22.4392 5.33855 22.1071 4.38961 21.3588 3.64124L20.2981 4.7019C20.7213 5.12511 20.975 5.70476 21.1102 6.71085C21.2484 7.73851 21.25 9.09318 21.25 11H22.75ZM10 2.25C8.13558 2.25 6.66182 2.24841 5.51098 2.40313C4.33856 2.56076 3.38961 2.89288 2.64124 3.64124L3.7019 4.7019C4.12511 4.27869 4.70476 4.02502 5.71085 3.88976C6.73851 3.75159 8.09318 3.75 10 3.75V2.25ZM2.75 11C2.75 9.09318 2.75159 7.73851 2.88976 6.71085C3.02502 5.70476 3.27869 5.12511 3.7019 4.7019L2.64124 3.64124C1.89288 4.38961 1.56076 5.33855 1.40313 6.51098C1.24841 7.66182 1.25 9.13558 1.25 11H2.75ZM21.25 12V13H22.75V12H21.25ZM2 12.75H14V11.25H2V12.75ZM18 12.75H22V11.25H18V12.75Z" fill="#1C274C"/>
                    <path d="M13.5 7.5L18 7.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M6 17.5L6 15.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M6 8.5L6 6.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M9 17.5L9 15.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M9 8.5L9 6.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M19.3333 16.8852C19.5419 16.8072 19.7662 16.7647 20 16.7647C20.2291 16.7647 20.4493 16.8055 20.6543 16.8806M16.7907 17.8533C16.6966 17.8338 16.5994 17.8235 16.5 17.8235C15.6716 17.8235 15 18.5346 15 19.4118C15 20.2889 15.6716 21 16.5 21H20C21.1046 21 22 20.0519 22 18.8824C22 17.9554 21.4375 17.1676 20.6543 16.8806M16.7907 17.8533C16.7105 17.6242 16.6667 17.3763 16.6667 17.1176C16.6667 15.9481 17.5621 15 18.6667 15C19.6956 15 20.543 15.8226 20.6543 16.8806M16.7907 17.8533C16.9882 17.8944 17.1718 17.9765 17.3333 18.091" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <p>Servers</p>
            </li>
        </a>
        <a href="../bulk">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0051 21.9843C17.5165 21.9843 21.9843 17.5165 21.9843 12.0051C21.9843 6.49372 17.5165 2.02588 12.0051 2.02588C6.49372 2.02588 2.02588 6.49372 2.02588 12.0051C2.02588 17.5165 6.49372 21.9843 12.0051 21.9843Z" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.13721 4.02173L14.3002 12.2047L14.3202 7.66414" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.8629 19.9784L9.69989 11.8054L9.67993 16.336" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p>Bulk Import</p>
            </li>
        </a>
        <a href="../hls/all">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 12C22 14.7578 20.8836 17.2549 19.0782 19.064M2 12C2 9.235 3.12222 6.73208 4.93603 4.92188M19.1414 5.00003C19.987 5.86254 20.6775 6.87757 21.1679 8.00003M5 19.1415C4.08988 18.2493 3.34958 17.1845 2.83209 16" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.2849 8.04397C17.3458 9.05877 18 10.4488 18 11.9822C18 13.5338 17.3302 14.9386 16.2469 15.9564M7.8 16C6.68918 14.9789 6 13.556 6 11.9822C6 10.4266 6.67333 9.01843 7.76162 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.6563 10.4511C14.5521 11.1088 15 11.4376 15 12C15 12.5624 14.5521 12.8912 13.6563 13.5489C13.4091 13.7304 13.1638 13.9014 12.9384 14.0438C12.7407 14.1688 12.5168 14.298 12.2849 14.4249C11.3913 14.914 10.9444 15.1586 10.5437 14.8878C10.1429 14.617 10.1065 14.0502 10.0337 12.9166C10.0131 12.596 10 12.2817 10 12C10 11.7183 10.0131 11.404 10.0337 11.0834C10.1065 9.94977 10.1429 9.38296 10.5437 9.1122C10.9444 8.84144 11.3913 9.08599 12.2849 9.57509C12.5168 9.70198 12.7407 9.83123 12.9384 9.95619C13.1638 10.0986 13.4091 10.2696 13.6563 10.4511Z" stroke="#1C274C" stroke-width="1.5"/>
                    </svg>
                <p>HLS</p>
            </li>
        </a>
        <a href="../ads">
            <li class="nav-list bar">
                <svg fill="#1C274C" class="filler-type" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M460.8,32.337H210.189v-2.695C210.189,13.298,196.891,0,180.547,0H94.316C77.972,0,64.674,13.298,64.674,29.642v2.695
                                    H51.2c-28.231,0-51.2,22.969-51.2,51.2v21.558v301.811c0,28.231,22.969,51.2,51.2,51.2h185.937v24.253
                                    c0,16.344,13.298,29.642,29.642,29.642h118.568c16.344,0,29.642-13.298,29.642-29.642v-24.253H460.8
                                    c28.231,0,51.2-22.969,51.2-51.2V105.095V83.537C512,55.306,489.031,32.337,460.8,32.337z M80.842,29.642
                                    c0-7.43,6.044-13.474,13.474-13.474h86.232c7.43,0,13.474,6.044,13.474,13.474v67.368H80.842V29.642z M16.168,83.537
                                    c0-19.317,15.715-35.032,35.032-35.032h13.474v48.505H16.168V83.537z M237.137,267.538v120.504h-153.6
                                    c-7.43,0-13.474-6.044-13.474-13.474V191.326c0-7.43,6.044-13.474,13.474-13.474h207.495v37.891l-40.695,27.13
                                    C242.071,248.384,237.137,257.604,237.137,267.538z M398.821,482.358c0,7.43-6.044,13.474-13.474,13.474H266.779
                                    c-7.43,0-13.474-6.044-13.474-13.474v-214.82c0-4.515,2.243-8.706,6-11.211l31.727-21.15v4.655c0,7.396,2.31,14.259,6.238,19.921
                                    c-0.55,2.254-0.848,4.606-0.848,7.027c0,16.344,13.298,29.642,29.642,29.642s29.642-13.298,29.642-29.642
                                    s-13.298-29.642-29.642-29.642c-6.984,0-13.408,2.434-18.479,6.49c-0.251-1.226-0.384-2.495-0.384-3.795v-15.433l11.39-7.594
                                    c2.27-1.513,4.871-2.27,7.473-2.27c2.601,0,5.204,0.757,7.474,2.27l59.284,39.522c3.756,2.505,6,6.696,6,11.211V482.358z
                                    M326.063,258.695c-3.151,0-6.117-0.786-8.731-2.158c2.353-2.01,5.4-3.232,8.731-3.232c7.43,0,13.474,6.044,13.474,13.474
                                    s-6.044,13.474-13.474,13.474c-5.297,0-9.877-3.08-12.077-7.536c3.767,1.387,7.834,2.146,12.077,2.146
                                    c4.466,0,8.084-3.618,8.084-8.084C334.147,262.313,330.529,258.695,326.063,258.695z M401.79,242.873l-59.283-39.522
                                    c-9.99-6.661-22.898-6.66-32.885,0l-2.421,1.615v-27.113h121.263c7.43,0,13.474,6.044,13.474,13.474v183.242
                                    c0,7.43-6.044,13.474-13.474,13.474h-13.474V267.538C414.989,257.604,410.055,248.384,401.79,242.873z M309.046,161.684
                                    c3.034-6.362,9.511-10.779,17.017-10.779s13.981,4.417,17.017,10.779H309.046z M495.832,406.905
                                    c0,19.317-15.715,35.032-35.032,35.032h-45.811v-37.726h13.474c16.344,0,29.642-13.298,29.642-29.642V191.326
                                    c0-16.344-13.298-29.642-29.642-29.642h-68.32c-3.661-15.43-17.546-26.947-34.08-26.947s-30.419,11.517-34.08,26.947H83.537
                                    c-16.344,0-29.642,13.298-29.642,29.642v183.242c0,16.344,13.298,29.642,29.642,29.642h153.6v37.726H51.2
                                    c-19.317,0-35.032-15.715-35.032-35.032V113.179h479.663V406.905z M495.832,97.011H210.189V48.505H460.8
                                    c19.317,0,35.032,15.715,35.032,35.032V97.011z" stroke="#1C274C" stroke-width="1.5"/>
                                <path d="M417.684,64.135c-4.466,0-8.084,3.618-8.084,8.084v1.078c0,4.466,3.619,8.084,8.084,8.084s8.084-3.618,8.084-8.084
                                    v-1.078C425.768,67.753,422.15,64.135,417.684,64.135z" stroke="#1C274C" stroke-width="1.5"/>
                                <path d="M385.347,64.135c-4.466,0-8.084,3.618-8.084,8.084v1.078c0,4.466,3.618,8.084,8.084,8.084
                                    c4.466,0,8.084-3.618,8.084-8.084v-1.078C393.432,67.753,389.813,64.135,385.347,64.135z" stroke="#1C274C" stroke-width="1.5"/>
                                <path d="M450.021,64.135c-4.466,0-8.084,3.618-8.084,8.084v1.078c0,4.466,3.618,8.084,8.084,8.084
                                    c4.466,0,8.084-3.618,8.084-8.084v-1.078C458.105,67.753,454.487,64.135,450.021,64.135z" stroke="#1C274C" stroke-width="1.5"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <p>Advertisement</p>
            </li>
        </a>
        <a href="../settings">
            <li class="nav-list bar">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="3" stroke="#1C274C" stroke-width="1.5"/>
                    <path d="M13.7654 2.15224C13.3978 2 12.9319 2 12 2C11.0681 2 10.6022 2 10.2346 2.15224C9.74457 2.35523 9.35522 2.74458 9.15223 3.23463C9.05957 3.45834 9.0233 3.7185 9.00911 4.09799C8.98826 4.65568 8.70226 5.17189 8.21894 5.45093C7.73564 5.72996 7.14559 5.71954 6.65219 5.45876C6.31645 5.2813 6.07301 5.18262 5.83294 5.15102C5.30704 5.08178 4.77518 5.22429 4.35436 5.5472C4.03874 5.78938 3.80577 6.1929 3.33983 6.99993C2.87389 7.80697 2.64092 8.21048 2.58899 8.60491C2.51976 9.1308 2.66227 9.66266 2.98518 10.0835C3.13256 10.2756 3.3397 10.437 3.66119 10.639C4.1338 10.936 4.43789 11.4419 4.43786 12C4.43783 12.5581 4.13375 13.0639 3.66118 13.3608C3.33965 13.5629 3.13248 13.7244 2.98508 13.9165C2.66217 14.3373 2.51966 14.8691 2.5889 15.395C2.64082 15.7894 2.87379 16.193 3.33973 17C3.80568 17.807 4.03865 18.2106 4.35426 18.4527C4.77508 18.7756 5.30694 18.9181 5.83284 18.8489C6.07289 18.8173 6.31632 18.7186 6.65204 18.5412C7.14547 18.2804 7.73556 18.27 8.2189 18.549C8.70224 18.8281 8.98826 19.3443 9.00911 19.9021C9.02331 20.2815 9.05957 20.5417 9.15223 20.7654C9.35522 21.2554 9.74457 21.6448 10.2346 21.8478C10.6022 22 11.0681 22 12 22C12.9319 22 13.3978 22 13.7654 21.8478C14.2554 21.6448 14.6448 21.2554 14.8477 20.7654C14.9404 20.5417 14.9767 20.2815 14.9909 19.902C15.0117 19.3443 15.2977 18.8281 15.781 18.549C16.2643 18.2699 16.8544 18.2804 17.3479 18.5412C17.6836 18.7186 17.927 18.8172 18.167 18.8488C18.6929 18.9181 19.2248 18.7756 19.6456 18.4527C19.9612 18.2105 20.1942 17.807 20.6601 16.9999C21.1261 16.1929 21.3591 15.7894 21.411 15.395C21.4802 14.8691 21.3377 14.3372 21.0148 13.9164C20.8674 13.7243 20.6602 13.5628 20.3387 13.3608C19.8662 13.0639 19.5621 12.558 19.5621 11.9999C19.5621 11.4418 19.8662 10.9361 20.3387 10.6392C20.6603 10.4371 20.8675 10.2757 21.0149 10.0835C21.3378 9.66273 21.4803 9.13087 21.4111 8.60497C21.3592 8.21055 21.1262 7.80703 20.6602 7C20.1943 6.19297 19.9613 5.78945 19.6457 5.54727C19.2249 5.22436 18.693 5.08185 18.1671 5.15109C17.9271 5.18269 17.6837 5.28136 17.3479 5.4588C16.8545 5.71959 16.2644 5.73002 15.7811 5.45096C15.2977 5.17191 15.0117 4.65566 14.9909 4.09794C14.9767 3.71848 14.9404 3.45833 14.8477 3.23463C14.6448 2.74458 14.2554 2.35523 13.7654 2.15224Z" stroke="#1C274C" stroke-width="1.5"/>
                </svg>
                <p>Settings</p>
            </li>
        </a>
    </ul>
    <a href="../link/new">
        <button class="on-large">Create New Link</button>
        <div class="on-small">+</div>
    </a>
</nav>
<div class="open-close glassy" id="openclose" onclick="toggleNav()">
    <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g data-name="Layer 2"><g data-name="arrowhead-left">
            <rect width="24" height="24" transform="rotate(90 12 12)" opacity="0"/>
            <path d="M11.64 5.23a1 1 0 0 0-1.41.13l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63L7.29 12l4.48-5.37a1 1 0 0 0-.13-1.4z"/>
            <path d="M14.29 12l4.48-5.37a1 1 0 0 0-1.54-1.28l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63z"/>
        </g></g>
    </svg>
</div>