<link rel="stylesheet" href="../static/common_styles.css">
<script>
    window.addEventListener("load",()=>{
        let sourceBox = document.querySelectorAll(".source-box")
        //for generating random colors
        let listOfnumsHexes = ["0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f"]
        sourceBox.forEach((box)=>{
            let color = ""
            for (let index = 0; index < 6; index++) {
                color += listOfnumsHexes[Math.floor(Math.random() * (listOfnumsHexes.length - 1))]
            }
            box.style.backgroundColor = "#"+color
        })
    })
</script>
<div class="source-chooser">
    <% sources.forEach((source)=>{ %>
        <% if(source.slug){ %>
            <a href="<%=source.link%>">
                <span class="source-box">
                    <h3>Stream</h3>
                </span>
            </a>
        <% } %>
        <% if(!source.slug){ %>
            <a href="<%=source.link%>"><!-- Add the variables -->
                <span class="source-box">
                    <h3>HLS Source</h3>
                </span>
            </a>
        <% } %>
    <% }) %>
</div>